<h1>All Reviews:</h1>

<ol>
  @foreach(Review review in Model)
  {
    <ul>
      <li>ID: @review.ReviewId</li>
      <li>Title: @review.Title</li>
      <li>By: @review.UserName</li>
      <li>CityID: @review.CityId</li>
      <li>City Name: @review.City.CityName</li>
      <li>Content: @review.Content</li>
      <li>Rating: @review.Rating</li>
      <li>Date: @review.Date</li>
    </ul>
    <a href="/Reviews/Details/@(review.ReviewId)"><p>View Details</p></a>
    <br>
  }
</ol>